@import url('https://fonts.cdnfonts.com/css/hubot-sans');
* {
    font-family: 'Hubot-Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

body {
    background-color: #e7e7e7;
    width: 87%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    margin-top: 1rem;
}

i {
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    margin: 1rem 0;
}

ul {
    padding: 0 2rem;
}

table {
    border: 2px #3b3b3b solid;
    margin: 1rem 0;
}

th {
    border-right: 2px #3b3b3b solid;
    border-bottom: 2px #3b3b3b solid;
    padding: 1rem 1rem;
}

.code {
    background-color: #e3dbdb;
    border-radius: 80px;
    padding: 3px 6px;
}

.json-block {
    background-color: #e3dbdb;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.indent {
    margin-left: 1rem;
    margin-top: -1rem;
}


@media screen and (max-width: 560px) {
    th {
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
    }

    body {
        width: 97%;
    }
}

@media screen and (max-width: 780px) {
    .json-block {
        display: none !important;
    }
    .hide-at-point {
        display: none !important;
    }
}
